.projBuck {
    text-align: center;
    box-sizing: border-box;
    padding:0;
    margin:0;
    width: 100%;
    background-color: whitesmoke;
}

.projTitle {
    width: 100%;
    margin: 1rem auto;
    position: relative;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    
}

.bottomLine {
    width: 4em;
    border: 2px solid red;
    position: absolute;
    margin: auto;
    top: 3.7rem;
    right: 27rem;
}

.projBlock {
    height: fit-content;
    box-sizing: border-box;
    margin: auto;
    /* margin-top: 3rem;*/
    margin-left: 15rem; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.singleItem {
    /* margin: 5rem auto; */
    width: 100%;
    height: 100%;
} 

.imgCont {
    height: 80%;
    width: 100%;
    border: 3px solid dodgerblue;
    border-radius: 1rem;
}

.imgCont img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.imgText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: whitesmoke;
    background-color: rgba(250, 120, 97, 0.931);
    font-weight: 900;
    margin: 1.4rem auto;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid cornflowerblue;
}

.btnLink {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    background-color:cornflowerblue;
    color: whitesmoke;
    padding: .7rem;
}

.btnLink a {
    text-decoration: none;
    color: whitesmoke;
}

@media screen and (max-height: 900px) {

    .projBuck {
        width: 100%;
        height: fit-content;
    }

    .projBlock {
        height: fit-content;
        box-sizing: border-box;
        /* margin-top: 3rem;*/
        margin-left: 10rem; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    
    .singleItem {
        margin: auto;
        width: 70%;
        height: 50%;
    }  
    .bottomLine {
        right: 45%;
    }
    
    
    .imgCont {
        height: 70%;
        width: 100%;
    }
    
    .imgCont img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .projBlock {
        margin-left: 10rem;
    }

    .singleItem {
        margin: auto 2rem;

    }

    .projBlock {
        height: fit-content;
        box-sizing: border-box;
        margin: auto;
        margin-left: 10rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
    }
    
    .singleItem {
        /* margin: 5rem auto; */
        width: 60%;
        height: 60%;
        text-align: center;
    } 
    
}

@media screen and (max-width: 999px) {

    .projBuck {
        width: 100%;
        margin-bottom: 2px;
    }

    .bottomLine {
        width: 4em;
        right: 42%;
    }

    .projBlock {
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding-top: 1rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .singleItem {
        margin: 3rem auto;
        width: 40%;
        height: 25rem;
        align-self: normal;
    }

    .imgCont {
        width: 100%;
        border-radius: .5rem;
    }

    .imgCont img {
        border-radius: .5rem;
        height: 100%;
    }

    .imgText {
        font-size: 14px;
        margin: 1.5rem auto;
        font-family: serif;
    }
}

@media screen and (max-width: 699px) {

    .projBuck {
        height: fit-content;
        max-width: 100%;
    }
    .projTitle {
        width: 100%;
        font-size: 1rem;
        top: 2rem;
    }

    .bottomLine {
        width: 4em;
        right: 16.8rem;
        top: 1.6rem;
    }


    .projBlock {
        width: 100%;
        margin-top: 3rem;
        margin-left: 0;
        height: fit-content;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }
    
    .singleItem {
        width: 60%;
        margin: 4rem auto;

    }

    .imgCont {
        border-radius: .5rem;
    }

    .imgCont img {
        border-radius: .5rem;
        height: 100%;
    }

    .imgText {
        font-size: 14px;
        margin: 2rem auto;
        font-family: serif;
    }
    
    /* .anchLink {
        border: 1px solid dodgerblue;
        text-transform: uppercase;
        background-color: dodgerblue;
        font-family: Arial, Helvetica, sans-serif;
    } */
}

@media screen and (max-width: 450px) {
    .projBlock {
        width: 100%;
        margin-top: 3rem;
        margin-left: 0;
        height: fit-content;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
    }
    
    .singleItem {
        width: 60%;
        margin: 4rem auto;

    }
    .bottomLine {
        right: 10rem;
    }
}