:root {
    --pri-color: dodgerblue;
    --main-sec: tomato;
}

.contactBlock {
    width: 80%;
    margin-top: 5rem;
    margin-left: 15rem;
    height: fit-content;
    background-color: white;
    box-sizing: border-box;
}

/* .formStyles {
    background-color: dodgerblue;
    width: 70%;
    height: 60%;
    font-family: 'Times New Roman', Times, serif;
} */


.mainForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10rem;
    width: 50%;
    height: fit-content;
    border: 2px solid var(--pri-color);
}

.formDesc {
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-family: serif;
    color: dodgerblue;
    text-transform: uppercase;
    font-weight: 800;
}

.inputBlockStyle {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0.6rem auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: .4rem;
    text-transform: capitalize;
}

.inputBlockStyle span {
    width: 25%;
    padding: 1rem;
    margin: auto 1rem;
}

.inputBlockStyle input {
    width: 75%;
    padding: 1rem;
    margin: auto 1rem;
    color: tomato;
    text-transform: capitalize;
    font-size: 16px;
}


.inputBlockStyle span {
    border: 2px solid dodgerblue;
    color: dodgerblue;
    font-weight: 600;
}

.inputBlockStyle input {
    border: hidden;
    outline: none;
    border-bottom: 2px solid var(--pri-color);
}

/* input, textarea {
    border: 2px solid black;
    outline: none;
    color: white;
    border-radius: .2rem;
    font-size: 12px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.RadioBtn {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin: 1rem 2rem;
    width: 100%;
    font-weight: 600;
    padding: 1rem;
    color: dodgerblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: .4rem;
}

.inputTitle {
    margin-bottom: 1rem;
    align-self: first baseline;
}

.messageStyle {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.6rem auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 500;
    border-radius: .4rem;
    text-transform: uppercase;
}

.messageStyle span {
    border-right: 2px solid var(--pri-color);
    color: dodgerblue;
    font-weight: 600;
    width: 15%;
    margin: 2rem 0;
}

.messageStyle textarea {
    --sec-color: tomato;
    width: 80%;
    margin: auto;
    line-height: 2;
    height: 10rem;
    color: var(--sec-color);
    outline: none;
    border: 1px solid cornflowerblue;
    text-align: justify;
}

.btnStyles {
    margin: 3rem auto;
    width: 70%;
    text-align: center;
}


button {
    width: 100%;
    padding: 1rem;
    background-color: var(--sec-color);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 600;
    font-style: bold;
    border-radius: .3rem;
    border: 2px solid var(--pri-color);
    outline: hidden;
    text-transform: uppercase;
    color: var(--main-sec);
    cursor: pointer;
    margin: 0 auto;
}

@media screen and (max-height: 800px) {
    .contactBlock {
        margin-bottom: 20rem;
    }

}


@media screen and (max-height: 600px) {
    .contactBlock {
        margin-bottom: 28rem;
    }
}

@media screen and (max-width: 1024px) {
    .contactBlock {
        width: 80%;
        margin: 5rem auto;
        margin-left: 10rem;
        height: fit-content;
        background-color: white;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 999px) {

    .contactBlock {
        text-align: center;
        width: 100%;
        margin: 5rem auto;
    }

    .mainForm {
        width: 70%;
        text-align: center;
        margin: 2rem auto;
        border: 2px solid var(--pri-color);
    
    }

    .inputBlockStyle {
        width: 100%;
        margin: .5rem auto;
    }

    .RadioBtn {
        width: 100%;
        margin: .5rem auto;
    }
}


@media screen and (max-width: 699px) {

    .contactBlock {
        margin: 7rem auto;
        width: 100%;
    }

    .mainForm {
        width: 70%;
        height: fit-content;
        background-color: white;
        padding: 0;
        border: 2px solid var(--pri-color);
    }

    .formDesc {
        margin: auto;
        text-align: center;
        width: 100%;
        font-size: 12px;
        font-weight: 300;
    }

    .inputBlockStyle {
        margin: auto;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 10px;
        padding: auto;
        width: 80%;
        margin: .6rem auto;
    }

    .inputBlockStyle span {
        width: 25%;
        padding: 1rem;
        margin: auto 0.6rem;
    }
    
    .inputBlockStyle input {
        width: 75%;
        padding: 1rem;
        margin: auto 0;
    }


    .inputTitle {
        margin-bottom: .4rem;
    }


    .RadioBtn {
        border-radius: .4rem;
        font-size: 8px;
        width: 80%;
        font-weight: 300;
    }


    /* button {
        width: 60%;
        margin: 0 auto;
        padding: 8px;
        background-color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 800;
        font-style: italic;
        outline-style: hidden;
        border-radius: 1rem;
        outline: hidden;
        border: hidden;
        text-transform: uppercase;
        color: dodgerblue;

    } */


}

@media screen and (max-width: 450px) {

    .inputBlockStyle {
        width: 100%;
        height: fit-content;
        display: block;
        text-align: center;
        margin: 0.3rem auto;
        font-family: 'Times New Roman', Times, serif;
        font-size: 10px;
        font-weight: 100;
        border-radius: .4rem;
        text-transform: capitalize;
    }

    .inputBlockStyle span {
        display: none;
        margin: 0 auto;
    }

    .inputBlockStyle input {
        width: 75%;
        padding: 0.4rem;
        margin: auto;
        font-size: 12px;
    }

    .messageStyle{
        width: 100%;
        padding: 1rem;
    }

    .messageStyle span {
        width: 40%;
    }

    .RadioBtn {
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
    }
}